
.delete {

    animation: delete 0.3s ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: normal;

    

}


@keyframes delete {
    0% {
        opacity: 1;

    }

    100% {
        opacity: 0;

    }
}


